
<div class="row" id="posicionamento-conteudo">
	<div class="col-md-4"></div>

	<div class="col-md-4">
		<center>
		<a href="https://goo.gl/forms/uJFSnWcQw2chlBN83" target="_blank">
			Clique aqui para fazer a sua inscrição do:<br>
			<b>Congresso Arquidiocesano de Intercessão</b>
		</a>
	</center>
		<br><br><br><br>
		<a href="https://goo.gl/forms/uJFSnWcQw2chlBN83" target="_blank">
			<center><%= image_tag 'intercessao.jpg', :class =>'img-responsive' %></center>
		</a>
		<br>
	</div>

	<div class="col-md-4"></div>
</div>
<br><br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<br><br><br><br>
<style type="text/css">
	#posicionamento-conteudo{
		margin-top: 30px;
	}
	#posicionamento-conteudo a{
		color: red;
		font-size: 25px;
		transition: 0.5s ease;
	}
	#posicionamento-conteudo a:hover{
		text-decoration: none;
		color: black;
		font-size: 25px;
		background: transparent;
	}
</style>