<div class="content">
  <div class="content_bottom">
    <h2>Bem vindo(a) ao nosso Website!</h2>
    <h3>A CruxHS é uma empresa de desenvolvimento de softwares e aplicativos para plataforma desktop e android direcionados para sistemas e-commerce, trabalhando também com a parte de criação e edição de videos, imagens e anúcios.<br>
    Outra área que a CruxHS trabalha é no desenvolvimento da sua empresa e no seu desenvolvimento pessoal usando estratégias de Coaching e Marketing.</h3>
    <p>Empresa nova que nasceu no ano de 2017 através do desenvolvedor Henrique Sales e que hoje conta com uma equipe de desenvolvedores que variam nas áreas de Design, Bancos de Dados, Vendas e Marketing.</p>
    <p>O nome vem em inspiração na leitura de um livro chamado Castelo Interior escrito por Santa Tereza de Ávila, onde na página 46, a autora faz uma referência dizendo que "a cruz de Jesus será a empresa", através dessa expressão foi criado o nome CruxHS (Crux é uma palavra originária do Latim). </p>
    <p>Além de desenvolvedor, Henrique também é um missionário católico de oração, obediente às inspirações e toques que Deus dá, deu seguimento à empresa com uma boa submissão aos ensinamentos catequéticos de boa conduta na sociedade.</p>
    <center><%= image_tag 'cruxhs_fundo.jpg' %></center>
  </div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
