<div class="footer">
    <div class="wrap">
       <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <div class="location">
                        <h3>Encontre-nos</h3>
                        <ul>
                            <li><%= image_tag "logo2.png"  %></li>
                              <li>Rua João XXII, 328.</li>
                              <li>Bairro São Cristóvão.</li>
                               <li>Ouro Preto - MG.</li>
                         </ul>
                    </div>
                </div>
                  <div class="col_1_of_4 span_1_of_4">
                    <h3>Informação</h3>
                    <p>Estamos estabelecendo um local fixo, assim qualquer pedido de cunho "pessoal" será AGENDADO para que haja uma reunião. Fazemos orçamentos em domicílio (Para as cidades de Ouro Preto e Mariana). Nosso retorno é imediato.</p>
                  </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h3>Testemunhos</h3>
                        <div class="Testimonials_desc">
                        <p>Em breve aqui colocaremos alguns testemunhos</p>
                       </div>
                    </div>
                        <div class="col_1_of_4 span_1_of_4">
                               <h3>Contato</h3>
                                   <ul class="address">
                                     <li>contato@cruxhs.com</li>
                                     <li><span>Celular (wpp):</span>(31)9-8630-4286</li>
                                     <li><span>Telefone:</span>(31)3350-1813</li>
                                  </ul>
                          </div>
                      </div>
                </div>
          <div class="copy-right">
            <div class="wrap" style="color: white;">
            &copy; Cruxhs Desenvolvimento
              <div class="clear"></div>
        </div>
    </div>
 </div>


