<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2>Desenvolvimento Empresarial</h2>
                <p>A Cruxhs tem ajudado diversos MicroEmpreendedores a se desenvolverem por completo, com diversos testemunhos, é uma alegria pessoal fazer este trabalho.</p>
                   <h3>Os novos empresários precisam de inúmeras orientações. É constante o relato de pessoas que fracassam no início de seu negócio por darem passos errados, assim a Cruxhs faz esse trabalho para ajudar nos passos de levantamento de empresas e negócios.</h3>
                    <center><%= image_tag 'desenvolvimento.png' %></center>
                    <p>Este trabalho é completo, onde podemos fazer um pacote de auxílio e estrutura por total para o cliente. Faça o seu <%= link_to 'pedido', contato_index_path %>, dê um passo a frente.</p>
              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
