<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2>Websites Responsivos</h2>
                <p>A Cruxhs trabalha exclusivamente com websites responsivos, onde teremos uma adaptação completa da visualização do conteúdo para qualquer dispositivo.</p>
                   <h3>Nos tempos atuais é extremamente necessário que o site da sua empresa possa ser acessado de qualquer plataforma, pois é certo que os clientes queiram a comodidade e facilidade do "3/4G".</h3>
                    <%= image_tag 'responsivo.png' %>
                    <p>A Cruxhs desenvolverá o website da sua empresa usando a melhor ferramenta possível para o seu pedido, trabalhando com diversas linguagens como Ruby on Rails, PHP, Wordpress, Bootstrap e outras, disponibilizando o melhor para você. Além disso, você terá um feedback constante com os desenvolvedores e a possibilidade de administrar o sistema criado para sua empresa.</p>
              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
