<div class="main">
     <div class="wrap">
      <div class="content">
          <div class="content_bottom">
            <h2>Faça o seu Pedido</h2>
            <div class="contact-form">
                <%= render 'form' %>
            </div>
          </div>
        </div>
    <div class="clear"></div>
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 </div>
</div>

