<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2>Anúncios e Propagandas</h2>
                <p>A propaganda é de fato a alma do negócio, e nada como um "brainstorming" dos idealizadores da Cruxhs e você para a decisão e finalização daquela propaganda que você precisa!.</p>
                   <h3>A equipe Cruxhs tem pessoas que desenvolverão uma boa imagem com o intuito de ir além daquilo que os nossos olhos enxergam. É necessária uma boa combinação de cores, estilos, letras e idéias para a propaganda que você precisa ser bem realizada.</h3>
                    <center><%= image_tag 'propaganda.png' %></center>
                    <p>A propaganda será desenvolvida e adaptada para diversas redes sociais e plataformas. Faça o seu <%= link_to 'pedido', contato_index_path %>, dê um passo a frente elabore conosco a propagada ideal de empresa.</p>
              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
