<%= render partial: "layouts/content/slider" %>
<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <%= render partial: "layouts/content/content2" %>
    <%= render partial: "layouts/content/content4" %>
  </div>
</div>
