<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2>Artes</h2>
                <p>A arte da sua empresa que você até tenta fazer mas sente que está incompleta? A Cruxhs fará pra você!.</p>
                   <h3>São necessários diversos elementos para a criação de uma boa arte, esses elementos tem que ser bem dispostos em área, formato, cores entre outros, fazendo com que a arte se adeque à sua empresa e ao que o seu cliente gostaria de visualizar.</h3>
                    <center><%= image_tag 'arte.png' %></center>
                    <p>Não perca tempo quebrando a cabeça. Faça o seu <%= link_to 'pedido', contato_index_path %>, para a melhor arte possível do seu negócio. Dê um passo a frente.</p>
              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
