<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2>Sistemas de Cadastros</h2>
                <p>A Cruxhs fará o sistema de cadastro on-line pra você, onde você terá um total controle total do que esta acontecendo.</p>
                   <h3>Um sistema cadastral pode variar entre uma festa com ingressos online até a um curso com vários alunos. Um banco de dados bem feito e constantemente atualizado onde cada cadastro feito será alertado via email. Além disso você poderá ver a qualquer instante a lista dos cadastrados.</h3>
                    <center><%= image_tag 'cadastro.png' %></center>
                    <p>Poderemos criar o formato que melhor se adequa ao seu pedido, que seja de um aplicativo ou um sistema pessoal sem acesso à internet. Faça já o seu <%= link_to 'pedido', contato_index_path %>, dê um passo a frente no seu evento.</p>
              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
