<div class="main">
  <div class="wrap">
    <%= render partial: "layouts/content/content1" %>
    <div class="content">
              <div class="content_bottom">
                <h2>Email de Marketing</h2>
                <p>Vamos analisar, desenvouver ou buscar a melhora ferramenta de e-mail marketing para sua empresa.</p>
                   <h3>Hoje em dia, uma empresa tem a necessidade de enviar inúmeros e-mails diários para seus destinatários, e-mails que variam de propaganda à uma simples lembraça de convênio. São necessárias ferramentas para que esse e-mail tenha uma boa qualidade.</h3>
                    <center><%= image_tag 'email.png' %></center>
                    <p>Que tal criar esse e-mail agora?. Faça o seu <%= link_to 'pedido', contato_index_path %>, dê um passo a frente.</p>
              </div>
        </div>
    <%= render partial: "layouts/content/content5" %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-middle"
     data-ad-layout-key="-el+64+23-bb+ck"
     data-ad-client="ca-pub-7700407018974046"
     data-ad-slot="9913363054"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
